<div class="header-small-mobile">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="mobile-logo">
          {%- include 'header-logo' -%}
        </div>
      </div>
      <div class="col-6">
        <div class="header-right-wrap">
          <div class="cart-wrap">
            {%- include 'mini-cart' -%}
          </div>
          <div class="mobile-off-canvas">
            <a class="mobile-aside-button" href="#"><i class="sli sli-menu"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>