<form action="/search" method="get" role="search">
  <div class="form-search">
    <input type="search" 
           name="q" 
           value="{{ search.terms | escape }}" 
           placeholder="{{ 'general.search.placeholder' | t }}" 
           class="input-text">
    <button type="submit"><i class="sli sli-magnifier"></i></button>
  </div>
</form>