<div class="top-notification-bar">
  <div class="{% if settings.section_width == 'full_width' %}container-fluid {% elsif settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif settings.section_width == 'default' %}container default {% endif %}">
   
    <div class="row">
      <div class="notification-entry col-12">

        <div class="notification_text">
          {{ settings.notification_text }}
        </div>
        <ul class="phone_email_setting">
        <li><a href="tel:+00123456789">+00 123 456 789</a>
        </li>
        <li><a href="mailto:demo@example.com">demo@example.com</a>
        </li>
        <li class="acc">
          <a href="">Account</a>
      </li>
      </ul>
      </div>
    </div>
  </div>
</div>


