ul.phone_email_setting > li{
    display: initial;
    color: #cfd4df;
    font-size: 14px;
    line-height: 36px;
}
ul.phone_email_setting > li > a{
    color: #cfd4df;
    font-size: 14px;
    line-height: 36px;
}
.notification-entry > ul.phone_email_setting > li::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background: #fc7c7c;
    right: 0;
    top: 50%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
}
.notification-entry > ul.phone_email_setting > li {
    position: relative;
    margin-right: 20px;
    padding-right: 21px;
}