<section class="single-product pt-100">
  <div class="container{% if settings.section_full_width %}-fluid section-padding-1{% endif %}">
    <div class="row">
      <div class="col-12">
        {% section 'product-template' %}
        {% section 'single-product-tab' %}
        {% section 'related-product' %}
        {% section 'custom-collection' %}
      </div>
      {% section 'product-sidebar' %}
    </div>
  </div>
</section>